extends ../shared/template
block content
  h1 Hangman
  input#txtName(type='text', value='TestOnly')
  button#btnNew New Game


  //-for

  #atGameStart.invisible

    input#txtGuess(type='text')
    button#btnGuess Submit Letter

    ul
      li
        span Word is:
        span#lblRightLetters
      li
        span Name is:
        span#lblName
      li
        span Game ID is:
        span#lblId

      li
        span wordlength is:
        span#lblWordLength

      li
        span Here are the letters you've already guessed:
        span#lblPastGuess
      li
        span Remaining time is:
        span#timer

  #atGameEnd.invisible

      li
        span Game Status is...
        span#lblIsWon
